*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.section{
    display: flex;
    flex-direction: column;
}

.header{
    height: 100px;
    background-color: #004c75;
    color: white;
}

.part_central{
    display: flex;
    flex-direction: row;
}

.content{
    width: 80vw;
    height: calc(100vh - 80px);
    border: 1px solid;
    background-color: #e3e3e3;
}
.panel{
    min-width: 250px !important;
}
.grafica{
    width: 100%;
    height: calc(100vh - 280px);
}
.img-fluid{
    width: auto;
    height: calc(100vh - 300px);
    margin: 10px;
}
.info{
    display: flex;
    flex-direction: row;
    height: 100px;
}
ul > li{
    display: block;
    float: left;
    width: 100px;
    margin-right: 5px;
}
ul > li > ul > li{
    height: calc(85px / 3) !important;
    margin-top: 4px;
}
a{
    color: black;
    text-decoration: none;
    transition: 250ms;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
.btn{
    padding: 5px;
    text-align: left;
    width: 100px !important;
    height: auto;
    transition: 250ms;
    border:  1px solid whitesmoke;
    background-color: #004c75;
    color: white;
    border-radius: 5px;
}
.btn > img{
    height: 15px;
    float: left;
}
.btn > span{
    margin-left: 5px;
}
.btn:hover{
    background-color: cadetblue;
}