<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Interfaz HRV</title>
  </head>
  <body>
    <section id="principal">
      <div class="menu-sup">
        Barra superior
      </div>
      <div class="part_central">
        <div class="grafica">grafica</div>   
        <div class="info-lat">herramientas</div>
      </div>
      <div class="menu-inf">
        Barra inferior
      </div>
    </section>
  </body>
</html>